body{
    font-size: 0.6em;
}

#main_icon
{
    background-size: 71% 50%;
    background-position: 50% 41%;
}

#favorite_icon
{
    background-size: 38% 59%;
background-position: 50% 36%;
}

#recipes_icon
{
    background-size: 31%;
background-position: 50% 35%;
}
#foodgrator_icon
{
    background-size: 55%;
}

#tools_icon
{
background-image: url(../images_ipad/tools_icon.jpg);
background-size: 38%;
background-position: 50% 32%;
}
/*#recipes_icon, #favorite_icon, #main_icon, #foodgrator_icon, #tools_icon {
background-repeat: no-repeat;
background-size: auto 69%;
background-position-x: 50%;
background-position-y: 28%;
}
.icon {
background-color: transparent;
cursor: pointer;
float: left;
height: 89px;
letter-spacing: 1px;
margin-left: 9px;
width: 20%;
height: 100%;
position: relative;
border: 1px solid red;
}*/
* {
-webkit-touch-callout: none;
-webkit-user-select: none;
}
user agent stylesheetdiv {
display: block;
}
Inherited from body.ui-mobile-viewport.ui-overlay-c
body {
font-family: 'georgia';
}

.down_menu_background {

height: 40px;

}
.Up_banner_background {
height: 38px;
}
.search_btn {
     height: 27px;
    left: 15px;
     width: 28px;
     background-size: auto 97%;
  }

.info_btn_main {
height: 31px;
width: 43px;
float: right;
position: relative;
top: 2px;
}

.Gesture_btn_main {
  height: 31px;
width: 42px;
float: right;
position: relative;
top: 3px;
right: 0;
}

.title_up_one_recipe {
color: #cc0000;
float: left;
font-size: 1.1em;
position: relative;
text-align: center;
width: 130px;
z-index: 3;
top: 8px;
left: 96px;
display: block;
overflow: hidden;
margin: auto;
}

.text_main_icon_position,.text_icon_position {
font-family: Conv_PlumbMed;
font-size: 7px;
letter-spacing: 0.2px;
bottom: 10%;
text-align: center;
text-transform: uppercase;
position: relative;
display: block;
}
/*******main page*****/
.App_posotion{
    height: 480px;
}

.btn_main_1, .btn_main_2{
    border-radius: 6px;
}/*
.midddel_main_pic
{
    height: 485px
    
}
.midddel_main_pic_item img
{
    height: 100%;
}*/
.white_background {
    height: 80px;
}
.dots_position ul li {
    background-image: url('../images/point_all_small.png');
    width: 12px;
height: 12px;
margin-left: 3px;

}
.title_pic_white {
font-size: 2.2em;
}

.midddel_main_pic_item img {
height: auto;
}

/******categories list********/
.all_categories ul li {
height: 120px;
}

.cat_pic {
height: 122px;
}


.cat_pic img {
height: auto;
}
.cat_white_back {
height: 29px;
top: -29px;
width: 100%;
}

.cat_name {
font-size: 18px;
left: 0px;
top: -51px;
margin-left: 15px;
}

.title_up_main_categories {
font-size: 1.5em;
width: 186px;
display: block;
overflow: hidden;
left: 69px;
}

.category-title{
    height: 12px;
    margin-bottom: 10px;
}

/*****recipe page******/
.title_up_main_first, .title_up_main_all, .title_up_recipes, .title_up_one_recipe{
    font-size: 1.5em;
width: 186px;
display: block;
overflow: hidden;
left: 69px;
}

.recipes_middel_pic_recipres_page, recipes_middel_pic_search, .recipes_middel_pic_favorite{
    top: 0px;
}
.recipes_list ul{
    padding-top: 0px;
    width: 100%;
}

.recipes_small_pic_border {
width: 5.5em;
height: 5.5em;
margin: 0;

float: left;
}

.inside_information {
display: block;
height: 60px;
width: 186px;
float: left;
margin-left: 10px;
position: relative;

font-size: 1em;
}
.recipes_first_title{
font-size: 1em;
top: 0;
width: 100%;
display: block;
}
.recipes_second_title {
color: #727A85;

font-size: 0.85em;

width: 152px;
display: block;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
margin-top: 3px;
}

.recipes_list ul li, .recipes_list_search ul li {
height: 79px;
width: 277px;
padding-right: 3px;
}
.recipes_footer_text {

font-size: 0.6em;
margin-left: 3px;
width: 9%;
margin-top: 3px;
}

.recipes_look_inside_btn {
right: -4px;
top: 32px;
position: absolute;
font-size: 1em;
}

.btn_background_down {
width: 246px;
height: 35px;
background-size: 100% 100%;
margin: auto;
line-height: 31px;
border-radius: 4px;
}

.recipes_text_down {
font-size: 14px;
height: 36px;
margin-top: 16px;
}
.clock_icon_recipes
{
    background-position: 0px 50%;
background-size: 20px 11px;
width: 10px;
}

.recipes_small_pic {
    border-radius: 6px;
}

/******recipe page*****/
.recipes_middel_pic {
        height: 100%;
}
.recipes_background_main {

width: 94%;
background-color: #fff;
height: 100%;
margin: auto;
}
* 

.one_recipe_bar_left {
border-radius: 3px 0 0 3px;
}

.one_recipe_bar_right {
-moz-border-radius-bottomright: 6px;
-moz-border-radius-topright: 6px;
border-radius: 0 3px 3px 0;
}

.one_recipe_text_bar_left, .one_recipe_text_bar_middel, .one_recipe_text_bar_right {
font-size:0.8em;
}

.one_recipe_bar_left, .one_recipe_bar_middel, .one_recipe_bar_right {
border: 1px solid #4d555f;
}

.one_recipe_small_up_icons {

height: 50px;
}

#videoRecipePage {
width: 100%;
height: auto;
}

#imgRecipePage {
width: 100%;
height: auto;
}
.one_recipe_middle {
    height: 225px;
}

.one_recipe_white {
    height: 50px;
font-size: 0.6em;
bottom: 0;
}
.one_recipe_page_description_recipe {
    height: 215px;
}
.one_recipe_pic {
    height: auto;
}
.one_recipe_text_pic {
 font-size: 0.2em;
}
.one_recipe_text_pic
{
    font-size: 22px;
}

.bar_one_recipe_position {

height: 16px;
}

.one_recipe_text_discription {

top: 0;
}